# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc

# Environment variables
.env

# Test cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode settings
.vscode/ 